@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    width: 100%;
    padding: 100px;
    background: rgb(22, 21, 21);
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    align-items: center;
    position: relative;
}
section .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: tomato;
    clip-path: circle(75% at right -25%);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 100px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
}
header .logo{
    position: relative;
    max-width: 120px;
}
header .Navigation{
    display: flex;
    position: relative;  
}
header .Navigation li{
    list-style: none;
}
header .Navigation li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin-left: 40px;
}
header .Navigation li a:hover{
    text-decoration: underline;
}

/* content */
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox h2{
    color: white;
    font-size: 60px;
}
.content .textBox p{
    color: white;
}
.content .textBox a{
    position: relative;
    display: flex;
    margin-top: 20px;
    padding: 10px;
    background-color: tomato;
    width: 30%;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: none;
    outline: none;
}
.content .textBox a:hover{
    background: yellow;
    transition: linear 1s;
    color: black;
}


